@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Christoc.Modules.Chart.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using Christoc.Modules.Chart.Models

@*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*@

@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
@*<link href="~/desktopmodules/mvc/Chart/scripts/bootstrap-3.3.2.min.css" rel="stylesheet" />*@
<link href="~/desktopmodules/mvc/Chart/scripts/bootstrap-multiselect.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script src="~/desktopmodules/mvc/Chart/scripts/bootstrap-multiselect.js"></script>
@*<script src="~/desktopmodules/mvc/Chart/scripts/employee.js"></script>*@

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>*@
@*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>*@

<figure class="highcharts-figure">
    @*<div>
            <label for="select">This is selected mutiple checkbox</label>
            <select multiple id="select">
                <option class="custom-checkbox" value="C++">C++</option>
                <option class="custom-checkbox" value="C#">C#</option>
                <option class="custom-checkbox" value="Java">Java</option>
                <option class="custom-checkbox" value="Objective-C">Objective-C</option>
                <option class="custom-checkbox" value="JavaScript">JavaScript</option>
                <option class="custom-checkbox" value="Perl">Perl</option>
                <option class="custom-checkbox" value="PHP">PHP</option>
                <option class="custom-checkbox" value="Ruby on Rails">Ruby on Rails</option>
                <option class="custom-checkbox" value="Android">Android</option>
                <option class="custom-checkbox" value="iOS">iOS</option>
                <option class="custom-checkbox" value="HTML">HTML</option>
                <option class="custom-checkbox" value="XML">XML</option>
                <option class="custom-checkbox" value="C++">C++</option>
                <option class="custom-checkbox" value="C#">C#</option>
                <option class="custom-checkbox" value="Java">Java</option>
                <option class="custom-checkbox" value="Objective-C">Objective-C</option>
                <option class="custom-checkbox" value="JavaScript">JavaScript</option>
                <option class="custom-checkbox" value="Perl">Perl</option>
                <option class="custom-checkbox" value="PHP">PHP</option>
                <option class="custom-checkbox" value="Ruby on Rails">Ruby on Rails</option>
                <option class="custom-checkbox" value="Android">Android</option>
                <option class="custom-checkbox" value="iOS">iOS</option>
                <option class="custom-checkbox" value="HTML">HTML</option>
                <option class="custom-checkbox" value="XML">XML</option>
            </select>
        </div>*@

</figure>
<form class="form-inline" action="/action_page.php">
    @*<div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3"><label for="cars">Loại biểu đồ:</label></div>
                <div class="col-md-9">
                    <label class="radio-inline">
                        <input type="radio" name="typechart" checked value="column">Cột
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typechart" value="line" />Đường
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typechart" value="bar" />Bar
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typechart" value="area" />Vùng
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="typechart" value="spline" />Point
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><label class="mr-sm-2"></label></div>

            </div>
            <div class="row">
                <div class="col-md-3"> <label for="cars">Tên biểu đồ:</label></div>
                <div class="col-md-9"><input type="text" class="form-control mb-2 mr-sm-2" id="chartName"></div>
            </div>
            <div class="row">
                <div class="col-md-3"> <label for="cars">Mô tả biểu đồ:</label></div>
                <div class="col-md-9"><input type="text" class="form-control mb-2 mr-sm-2" id="chartDetails"></div>
            </div>
            <div class="row">
                <div class="col-md-3"> <label for="cars">Tên AxisX:</label></div>
                <div class="col-md-9"><input type="text" class="form-control mb-2 mr-sm-2" id="chartX"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><label for="cars">Tên AxisY:</label></div>
                <div class="col-md-9"><input type="text" class="form-control mb-2 mr-sm-2" id="chartY"></div>
            </div>
            <a href="" class="btn btn-primary mb-2">Submit</a>
        </div>
        <div class="col-md-6">

        </div>
    </div>*@
    <div id="container"></div>
</form>
@*<div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label for="cars">Loại biểu đồ:</label>
                    </div>
                    <div class="col-md-9">
                        <label class="radio-inline">
                            <input type="radio" name="typechart" checked value="column">Cột
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="typechart" value="line" />Đường
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="typechart" value="bar" />Bar
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="typechart" value="area" />Vùng
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="typechart" value="spline" />Point
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="cars">Tên biểu đồ:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="chk-field name-chart form-control" name="checkboxfield">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="cars">Mô tả biểu đồ:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="chk-field sub-title form-control" name="checkboxfield">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="cars">Tên AxisX:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="chk-field name-x form-control" name="checkboxfield">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="cars">Tên AxisY:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="chk-field name-y form-control" name="checkboxfield">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="AXisX">Chọn AxisX:</label>
                    </div>
                    <div class="col-md-9">
                        <select id="AXisX" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="AXisY">Chọn AxisY:</label>
                    </div>
                    <div class="col-md-9">
                        <select id="AXisY" multiple class="multiple form-control">

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="ArticleInTopic">Bài viết cùng chủ đề:</label>
                    </div>
                    <div class="col-md-9">
                        <select id="ArticleInTopic" multiple class="multiple form-control"></select>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn-getdata btn">Hiển thị biểu đồ</button>
                </div>
            </div>
            <div class="col-md-6">


                <div id="container"></div>
            </div>
        </div>
    </div>*@

<script type="text/javascript">

    //$(document).ready(function () {
    //    $('#select').multiselect({
    //        includeSelectAllOption: true,
    //        nonSelectedText: '--Chọn--',
    //        buttonWidth: 350,
    //        enableFiltering: true
    //    });
    //    //$(".js-example-basic-multiple").select2({
    //    //    maximumSelectionLength: 2
    //    //});

    //    //var last_valid_selection = null;
    //    //$('#select').change(function (event) {
    //    //    if ($(this).val().length > 2) {
    //    //        alert('You can only choose 2!');
    //    //        $(this).val(last_valid_selection);
    //    //    } else {
    //    //        last_valid_selection = $(this).val();
    //    //    }
    //    //});
    //});
    ////var verified = [];
    ////document.querySelector('select').onchange = function (e) {
    ////    if (this.querySelectorAll('option:checked').length <= 5) {
    ////        verified = Array.apply(null, this.querySelectorAll('option:checked'));
    ////    } else {
    ////        Array.apply(null, this.querySelectorAll('option')).forEach(function (e) {
    ////            e.selected = verified.indexOf(e) > -1;
    ////        });
    ////    }
    ////}



    var chart;
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column',
                events: {
                    load: requestData
                }
            },
            title: {
                text: 'Demo',
            },
            xAxis: {
                categories: []
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount'
                }
            }
            , plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: []
        });
    });

    function requestData() {
        var rvtoken = $("input[name='__RequestVerificationToken']").val();
        var ModuleId = @Dnn.ModuleContext.ModuleId;
        var TabId = @Dnn.ModuleContext.TabId;
        var siteRoot = dnn.getVar("sf_siteRoot", "/");
        var chartData;
        var Genders = [];
        var Amounts = [];
        var Cities = [];
        $.ajax({
            url: siteRoot + 'DesktopModules/MVC/Chart/Item/GetResults',
            method: "Get",
            contentType: "application/json; charset=utf-8", dataType: "json",
            headers: {
                "ModuleId": ModuleId,
                "TabId": TabId,
                "RequestVerificationToken": rvtoken
            },
            success: function (data) {
                chartData = data.gender;
                var obj = JSON.parse(chartData);
                console.log(obj);
                var amountArr1 = []; amountArr2 = []; amountArr3 = []; cities = [];
                for (var i = 0; i < obj.Cities1.length; i++) {
                    amountArr1.push(obj.Cities1[i].Amount);
                }
                for (var i = 0; i < obj.Cities2.length; i++) {
                    amountArr2.push(obj.Cities2[i].Amount);
                    cities.push(obj.Cities2[i].CityName)
                }
                for (var i = 0; i < obj.Cities3.length; i++) {
                    amountArr3.push(obj.Cities3[i].Amount);
                }
                console.log(amountArr1);
                chart.addSeries({
                    name: "Male",
                    data: amountArr1
                });
                chart.addSeries({
                    name: "Female",
                    data: amountArr2
                });
                chart.addSeries({
                    name: "Other",
                    data: amountArr3
                });
                chart.xAxis[0].setCategories(cities)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
    }


    @*var employee = {} || employee;
    employee.openAddEmployee = function () {
        $('#addEmployee').modal('show');
    };
    employee.save = function () {
        var rvtoken = $("input[name='__RequestVerificationToken']").val();
        var ModuleId = @Dnn.ModuleContext.ModuleId;
        var TabId = @Dnn.ModuleContext.TabId;
        var siteRoot = dnn.getVar("sf_siteRoot", "/");
        var saveEmployee = {};
        saveEmployee.Name = $('#Name').val();
        saveEmployee.Id = parseInt($('#Id').val());
        saveEmployee.Gender = $('#Gender').val();
        //saveEmployee.Gender = $("input[name='customRadio']:checked").val();
        $.ajax({
            url: siteRoot + 'DesktopModules/MVC/Chart/Item/SaveEmployee/',
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(saveEmployee),
            success: function (data) {
                $('#addEmployee').modal('hide');
                bootbox.alert(data.result.message);
            }
        });
    }*@
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
@*<script src="~/desktopmodules/mvc/Chart/scripts/employee.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@
